.marquee-wrap {
  width: 2rem;
  height: 0.8rem;
  position: absolute;
  background-color: #fff;
  overflow:hidden;
}
.marquee-item {
  width: 2rem;
  height: 0.8rem;
  color:red;
  align-items: center;
  justify-content: center;
}